{
  "openapi": "3.1.0",
  "info": {
    "title": "Brain Cabinet v7.5.0 Command API",
    "version": "7.5.0",
    "description": "Brain Cabinet の統合コマンドAPI。ドメイン別にエンドポイントを分割。\n\n## エンドポイント選択ガイド\n- ノート操作（作成・更新・削除・取得・履歴・画像）→ /api/v1/note\n- 検索（キーワード・タイトル・セマンティック・RAG）→ /api/v1/search\n- 判断・意思決定（判断検索・コーチング・反証）→ /api/v1/decision\n- レビュー（間隔反復・Active Recall）→ /api/v1/review\n- インサイト・分析（思考パターン・クラスタ・ドリフト・影響度）→ /api/v1/insight\n- システム管理（ヘルスチェック・再構築・ドキュメント）→ /api/v1/system\n\n## 🚨 最重要ルール：判断記録前のセルフチェック\nユーザーが判断・意思決定を記録しようとしている場合、note.create 実行前に必ず以下を質問:\n1. 「確信度は何%?」\n2. 「反対する人がいたら何と言いそう?」\n3. 「今冷静? 興奮してない?」\n回答後、decision.searchで類似判断を検索し、セルフチェック記録をメモ末尾に含める。\n例外: ユーザーが「すぐ記録して」「チェック不要」と明示した場合のみスキップ可。\n\n## ⚠️ 更新・削除ルール\nnote.update と note.delete はユーザーが明示的に指示した場合のみ実行。GPTの判断で勝手に更新・削除しない。\n\n## タイムスタンプ\nAPIレスポンスの時刻はUNIX timestamp（秒）。JSTとして解釈。\n\n## 画像埋め込み\nnote.uploadImage の返却 markdown フィールド（例: ![name](note-image://imageId)）をそのまま使用。独自パスを使わない。\n\n## 日付範囲検索\n複数日のメモ検索は1日ずつ個別に search.byTitle で検索する。"
  },
  "servers": [
    {
      "url": "https://api.brain-cabinet.com",
      "description": "Cloudflare Tunnel 経由のローカル API"
    }
  ],
  "paths": {
    "/api/v1/note": {
      "post": {
        "operationId": "noteCommand",
        "x-openai-isConsequential": false,
        "summary": "ノート操作（CRUD・履歴・画像）",
        "description": "ノートの作成・取得・更新・削除・履歴・画像操作を行う。\n\n⚠️ content は改行を \\n でエスケープし、ダブルクォートは \\\" でエスケープすること。JSONとして有効な文字列であることを確認してから送信。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- note.create: メモ作成（payload.title, payload.content 必須）\n- note.get: メモ取得（payload.id 必須）\n- note.update: メモ更新（payload.id, payload.content 必須。ユーザーの明示的指示が必要）\n- note.delete: メモ削除（payload.id 必須。ユーザーの明示的指示が必要）\n- note.list: メモ一覧（payload.limit, payload.sort, payload.offset で制御）\n- note.history: 履歴取得（payload.id または payload.historyId）\n- note.revert: 過去バージョンに戻す（payload.noteId, payload.historyId 必須）\n- note.uploadImage: 画像アップロード（payload.noteId, payload.imageData 必須）\n- note.listImages: 画像一覧（payload.noteId 必須）\n- note.deleteImage: 画像削除（payload.imageId 必須）",
                    "enum": [
                      "note.create",
                      "note.get",
                      "note.update",
                      "note.delete",
                      "note.list",
                      "note.history",
                      "note.revert",
                      "note.uploadImage",
                      "note.listImages",
                      "note.deleteImage"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "タイトル（note.create用、必須）"
                      },
                      "content": {
                        "type": "string",
                        "description": "本文（note.create, note.update用）。改行は \\n、ダブルクォートは \\\" でエスケープ"
                      },
                      "id": {
                        "type": "string",
                        "description": "ノートID（note.get, note.update, note.delete, note.history用）"
                      },
                      "noteId": {
                        "type": "string",
                        "description": "ノートID（note.revert, note.uploadImage, note.listImages用）"
                      },
                      "historyId": {
                        "type": "string",
                        "description": "履歴ID（note.history, note.revert用）"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "取得件数（note.list: デフォルト50、note.history: デフォルト20）"
                      },
                      "offset": {
                        "type": "integer",
                        "description": "取得開始位置（デフォルト0）"
                      },
                      "sort": {
                        "type": "string",
                        "enum": ["updated", "created", "title"],
                        "description": "ソート順（note.list用、デフォルトupdated）"
                      },
                      "includeContent": {
                        "type": "boolean",
                        "description": "本文を含めるか（note.history用、デフォルトfalse）"
                      },
                      "imageData": {
                        "type": "string",
                        "description": "Base64エンコード画像データ（note.uploadImage用）"
                      },
                      "imageId": {
                        "type": "string",
                        "description": "画像ID（note.deleteImage用）"
                      },
                      "name": {
                        "type": "string",
                        "description": "画像ファイル名（note.uploadImage用）"
                      },
                      "mimeType": {
                        "type": "string",
                        "enum": ["image/jpeg", "image/png", "image/gif", "image/webp"],
                        "description": "画像MIMEタイプ（note.uploadImage用、デフォルトimage/png）"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "searchCommand",
        "x-openai-isConsequential": false,
        "summary": "メモ検索（キーワード・タイトル・セマンティック・RAG）",
        "description": "メモの検索を行う。日付範囲で検索する場合は1日ずつ個別に search.byTitle で検索すること。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- gpt.search: キーワード検索（推奨、payload.query 必須）\n- search.byTitle: タイトル検索（payload.title 必須、部分一致）\n- search.query: 詳細検索（payload.query 必須、mode で keyword/semantic/hybrid 選択可）\n- search.categories: カテゴリ検索\n- rag.context: 質問に関連するノートのコンテキスト取得（payload.question 必須）",
                    "enum": [
                      "gpt.search",
                      "search.byTitle",
                      "search.query",
                      "search.categories",
                      "rag.context"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "description": "検索キーワード（gpt.search, search.query用）"
                      },
                      "title": {
                        "type": "string",
                        "description": "検索タイトル（search.byTitle用、部分一致）"
                      },
                      "exact": {
                        "type": "boolean",
                        "description": "完全一致検索（search.byTitle用、デフォルトfalse）"
                      },
                      "mode": {
                        "type": "string",
                        "enum": ["keyword", "semantic", "hybrid"],
                        "description": "検索モード（search.query用）"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "取得件数（デフォルト20）"
                      },
                      "sort": {
                        "type": "string",
                        "enum": ["relevance", "updated", "created"],
                        "description": "ソート順（デフォルトrelevance）"
                      },
                      "question": {
                        "type": "string",
                        "description": "質問文（rag.context用）"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/decision": {
      "post": {
        "operationId": "decisionCommand",
        "x-openai-isConsequential": false,
        "summary": "判断・意思決定（検索・コーチング・反証）",
        "description": "過去の判断を検索・分析する。ユーザーが過去の判断について聞いている場合はこのエンドポイントを使う。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- decision.search: 判断ノート検索（payload.query 必須）\n- decision.searchWithContext: クラスタ情報付き判断検索（payload.query 必須）\n- decision.context: 判断の詳細（payload.noteId 必須）\n- decision.compare: 判断を時系列比較（payload.query 必須）\n- decision.promotionCandidates: 昇格候補一覧\n- decision.addCounterevidence: 反証追加（payload.decisionNoteId, payload.type, payload.content 必須）\n- decision.getCounterevidences: 反証一覧（payload.decisionNoteId 必須）\n- decision.deleteCounterevidence: 反証削除（payload.id 必須）\n- gpt.coachDecision: 判断コーチング（payload.query 必須）",
                    "enum": [
                      "decision.search",
                      "decision.searchWithContext",
                      "decision.context",
                      "decision.compare",
                      "decision.promotionCandidates",
                      "decision.addCounterevidence",
                      "decision.getCounterevidences",
                      "decision.deleteCounterevidence",
                      "gpt.coachDecision"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "description": "検索キーワード（decision.search, decision.searchWithContext, decision.compare, gpt.coachDecision用）"
                      },
                      "noteId": {
                        "type": "string",
                        "description": "判断ノートID（decision.context用）"
                      },
                      "decisionNoteId": {
                        "type": "string",
                        "description": "判断ノートID（decision.addCounterevidence, decision.getCounterevidences用）"
                      },
                      "id": {
                        "type": "string",
                        "description": "反証ID（decision.deleteCounterevidence用）"
                      },
                      "intent": {
                        "type": "string",
                        "enum": ["architecture", "design", "implementation", "review", "process", "people", "unknown"],
                        "description": "意図フィルタ（decision.search用）"
                      },
                      "minConfidence": {
                        "type": "number",
                        "description": "最小信頼度 0-1（decision.search用、デフォルト0.4）"
                      },
                      "includeClusterContext": {
                        "type": "boolean",
                        "description": "クラスタ情報を含めるか（decision.search用、デフォルトfalse）"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["regret", "missed_alternative", "unexpected_outcome", "contradiction"],
                        "description": "反証タイプ（decision.addCounterevidence用）"
                      },
                      "content": {
                        "type": "string",
                        "description": "反証の内容（decision.addCounterevidence用）"
                      },
                      "severity": {
                        "type": "string",
                        "enum": ["minor", "major", "critical"],
                        "description": "深刻度（decision.addCounterevidence用、デフォルトminor）"
                      },
                      "sourceNoteId": {
                        "type": "string",
                        "description": "反証の元ノートID（decision.addCounterevidence用、オプション）"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "取得件数"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/review": {
      "post": {
        "operationId": "reviewCommand",
        "x-openai-isConsequential": false,
        "summary": "レビュー（間隔反復・Active Recall）",
        "description": "学習の定着を促進する間隔反復機能。SM-2アルゴリズムで次回レビュー日を計算。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- review.queue: レビュー待ち一覧\n- review.start: セッション開始（payload.noteId 必須）\n- review.submit: 結果送信（payload.scheduleId, payload.quality 必須）\n- review.schedule: スケジュール（payload.noteId 必須）\n- review.cancel: キャンセル（payload.noteId 必須）\n- review.reschedule: 再スケジュール（payload.noteId, payload.daysFromNow 必須）\n- review.questions: 質問一覧（payload.noteId 必須）\n- review.regenerateQuestions: 質問再生成（payload.noteId 必須）\n- review.stats: ノート統計（payload.noteId 必須）\n- review.overview: 全体統計\n- review.list: 期間別リスト\n- review.fixRevision: バージョン固定（payload.noteId, payload.historyId 必須）\n- review.unfixRevision: バージョン固定解除（payload.noteId 必須）",
                    "enum": [
                      "review.queue",
                      "review.start",
                      "review.submit",
                      "review.schedule",
                      "review.cancel",
                      "review.reschedule",
                      "review.questions",
                      "review.regenerateQuestions",
                      "review.stats",
                      "review.overview",
                      "review.list",
                      "review.fixRevision",
                      "review.unfixRevision"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "noteId": {
                        "type": "string",
                        "description": "ノートID"
                      },
                      "scheduleId": {
                        "type": "integer",
                        "description": "スケジュールID（review.submit用）"
                      },
                      "quality": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 5,
                        "description": "品質評価 0-5（review.submit用）: 0=完全忘却, 3=正解(困難), 5=完璧"
                      },
                      "daysFromNow": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "何日後にレビューするか（review.reschedule用）"
                      },
                      "force": {
                        "type": "boolean",
                        "description": "任意ノートを強制登録（review.schedule用）"
                      },
                      "historyId": {
                        "type": "string",
                        "description": "履歴ID（review.fixRevision用）"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "取得件数"
                      },
                      "responseTimeMs": {
                        "type": "integer",
                        "description": "回答時間ms（review.submit用、オプション）"
                      },
                      "questionsAttempted": {
                        "type": "integer",
                        "description": "試行質問数（review.submit用、オプション）"
                      },
                      "questionsCorrect": {
                        "type": "integer",
                        "description": "正解質問数（review.submit用、オプション）"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/insight": {
      "post": {
        "operationId": "insightCommand",
        "x-openai-isConsequential": false,
        "summary": "インサイト・分析（思考パターン・クラスタ・ドリフト・影響度）",
        "description": "思考パターンの分析、クラスタマップ、ドリフト（思考変化）、影響度分析など。\n\n🚨 人格化フロー: (1)cluster.map format=gptを呼ぶ → (2)返却のpromptとclustersで人格化出力を生成 → (3)system.evaluateVoiceで評価保存",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- insight.lite: 簡易インサイト\n- insight.full: 完全インサイト\n- insight.coach: コーチング向け\n- ptm.today: 今日の思考モデル\n- ptm.summary: 思考モデルサマリー\n- ptm.history / ptm.insight / ptm.core / ptm.influence / ptm.dynamics / ptm.stability / ptm.capture\n- cluster.list: クラスタ一覧\n- cluster.get: クラスタ詳細（payload.id 必須）\n- cluster.map: 思考マップ（payload.format='gpt' で人格化用）\n- cluster.identity: クラスタ特徴（payload.id 必須）\n- cluster.representatives / cluster.rebuild\n- drift.insight / drift.summary / drift.timeline / drift.events / drift.angle / drift.forecast / drift.warning\n- analytics.summary / analytics.timeline / analytics.journey / analytics.heatmap / analytics.trends\n- influence.stats / influence.influencers / influence.influenced\n- clusterDynamics.summary / clusterDynamics.snapshot / clusterDynamics.timeline / clusterDynamics.capture\n- gpt.context / gpt.unifiedContext / gpt.task / gpt.overview",
                    "enum": [
                      "insight.lite",
                      "insight.full",
                      "insight.coach",
                      "ptm.today",
                      "ptm.summary",
                      "ptm.history",
                      "ptm.insight",
                      "ptm.core",
                      "ptm.influence",
                      "ptm.dynamics",
                      "ptm.stability",
                      "ptm.capture",
                      "cluster.list",
                      "cluster.get",
                      "cluster.map",
                      "cluster.identity",
                      "cluster.representatives",
                      "cluster.rebuild",
                      "drift.insight",
                      "drift.summary",
                      "drift.timeline",
                      "drift.events",
                      "drift.angle",
                      "drift.forecast",
                      "drift.warning",
                      "analytics.summary",
                      "analytics.timeline",
                      "analytics.journey",
                      "analytics.heatmap",
                      "analytics.trends",
                      "influence.stats",
                      "influence.influencers",
                      "influence.influenced",
                      "clusterDynamics.summary",
                      "clusterDynamics.snapshot",
                      "clusterDynamics.timeline",
                      "clusterDynamics.capture",
                      "gpt.context",
                      "gpt.unifiedContext",
                      "gpt.task",
                      "gpt.overview"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "クラスタID（cluster.get, cluster.identity, cluster.representatives用）"
                      },
                      "rangeDays": {
                        "type": "integer",
                        "description": "対象日数（drift系、analytics系用、デフォルト30）"
                      },
                      "format": {
                        "type": "string",
                        "enum": ["full", "gpt"],
                        "description": "出力フォーマット（cluster.map用。gpt=人格化エンジン用）"
                      },
                      "focus": {
                        "type": "string",
                        "enum": ["overview", "trends", "warnings", "recommendations"],
                        "description": "フォーカス領域（gpt.unifiedContext用、デフォルトoverview）"
                      },
                      "maxPriorities": {
                        "type": "integer",
                        "description": "優先事項の最大件数（gpt.unifiedContext用、デフォルト5）"
                      },
                      "maxRecommendations": {
                        "type": "integer",
                        "description": "レコメンデーション最大件数（gpt.unifiedContext用、デフォルト3）"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "取得件数"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/system": {
      "post": {
        "operationId": "systemCommand",
        "x-openai-isConsequential": false,
        "summary": "システム管理（ヘルスチェック・再構築・ドキュメント）",
        "description": "システム管理操作。evaluateVoiceは人格化出力を生成した直後に必ず呼び出すこと。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "実行するアクション:\n- system.health: ヘルスチェック\n- system.embed: 埋め込み生成\n- system.rebuildFts: FTSインデックス再構築\n- system.evaluateVoice: 人格化出力の評価保存（payload.output 必須）\n- workflow.reconstruct: 全体再構築\n- workflow.status: 再構築進捗確認\n- embedding.recalcAll: 全埋め込み再計算\n- debug.healthcheck: デバッグ用ヘルスチェック\n- gpt.docs: ドキュメント取得（payload.name で README/OVERVIEW/architecture 等を指定）",
                    "enum": [
                      "system.health",
                      "system.embed",
                      "system.rebuildFts",
                      "system.evaluateVoice",
                      "workflow.reconstruct",
                      "workflow.status",
                      "embedding.recalcAll",
                      "debug.healthcheck",
                      "gpt.docs"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "output": {
                        "type": "object",
                        "description": "人格化出力（system.evaluateVoice用）"
                      },
                      "promptVersion": {
                        "type": "string",
                        "description": "プロンプトバージョン（system.evaluateVoice用）"
                      },
                      "name": {
                        "type": "string",
                        "description": "ドキュメント名（gpt.docs用: README/OVERVIEW/architecture/er-diagram/network-diagram/security-diagram）"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommandResponse" }
              }
            }
          },
          "400": {
            "description": "失敗",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommandResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "action": {
            "type": "string",
            "description": "実行されたアクション"
          },
          "result": {
            "type": "object",
            "description": "アクション固有の結果"
          },
          "timestamp": {
            "type": "integer",
            "description": "実行時刻（UNIX timestamp）"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "action": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "エラーコード"
              },
              "message": {
                "type": "string",
                "description": "エラーメッセージ"
              }
            }
          },
          "timestamp": {
            "type": "integer"
          }
        }
      }
    }
  }
}
